@import "tailwindcss";

.box{
    @apply text-cyan-50 w-[90%] h-auto ml-[20px] mt-[20px] bg-gray-400 rounded-3xl pb-[10px] shadow-2xl 
    md:w-[50%] md:ml-[400px] md:mt-[100px] md:pb-[10px] md:rounded-4xl
}

.avatar{
    @apply w-[25%] h-[15%] ml-4 -mt-3 
    md:w-[15%] md:h-auto md:ml-4 md:-mt-8 
}
.answer{
    @apply   text-black mt-2 ml-3 whitespace-pre-line text-[18px]
    md:text-[25px]
}

.input_question{
    @apply relative ml-[15%] mt-10 bg-gray-300 p-2 w-[70%] rounded-2xl shadow-2xl mb-3 text-blue-950
}
.response{
    @apply flex 
}